.table-filter {
    align-items: center;
    display: flex;
    margin-bottom: .75rem;
}

.table-filter span {
    margin-right: 1.5rem;
}

@media (max-width: 768px) {
    .table-filter {
        display: block;
    }
}

@media (max-width: 480px) {
    .table-filter button {
        font-size: 0.875rem;
    }
}